@import url('https://fonts.googleapis.com/css?family=Play');
* {
  box-sizing: border-box;
}

body {
  max-width: 980px;
  margin: 1em auto;
  font-size: 20px;
  line-height: 1.5;
  background-image: url(gambling.jpg);
  font-family: 'Play', sans-serif;
}

p {
  text-align: center;
  background-color: #333333;
  color: #fff;
  padding: 0.1%;
  border-radius: 3px;
  font-family: OpenSans-SemiBold;
  margin-bottom: 0%;
  margin-top: 0.5%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 .5em;
}

.column {
  flex: 1;
  margin-top: 0%;
}

h3, #title {
  width: 50%
}

#player1, #player2 {
  padding: 5px;
  background-color: #F4F4F4;
  margin-left: 23%;
  border: 2px solid #333;
  color: #10BF64;
}

#round {
  color: #10BF64;
}


/* 100% Width Columns on Small Screens */


/* ^ selects every column*/

@media (max-width: 500px) {
  [class^="column"] {
    flex: 0 0 100%;
  }
}

li, form, footer {
  padding: 1px;
  list-style: none;
  border: 1px solid black;
  background-color: #F4F4F4;
  font-size: 17.85px;
}

form {
  padding: 20px;
  border-radius: 5px;
}

td {
  border: 1px solid black;
  padding: 10px;
  height: 60px;
  margin: 1%;
  font-size: 17px;
}

table {
  border: 1px solid black;
  width: 100%;
  background-color: #F4F4F4;
}

code {
  background-color: #F4F4F4;
  color: #333;
  padding: 1px;
}

.info {
  top: 0px;
  text-align: left;
  padding: 10px;
  margin-bottom: 2%;
  font-family: 'Play', sans-serif;
}

a {
  color: #10BF64;
}
